button {
    margin: 0 1rem;
}

.Options {
    padding: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Values {
    flex-direction: column;
}

.slider-control {
    margin: 1rem 0 -3rem 0;
    text-align: center;
}

.value-set {
    margin: 4rem;
}

#Main {
    display: flex;
    flex-direction: column;
}

.Swatch {
    height: 6rem;
    width: 3rem;
    margin: 0 .5rem;
}

#Swatches {
    display: flex;
    justify-content: center;
    margin: 2rem;
}